<!DOCTYPE HTML>
<html lang="pl-PL">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>Automatyczny dom</title>	
	<link rel="stylesheet" href="/static/style.css" type="text/css"/>
</head>

<body>	
	<div class="square">
		<div class="menu">
			<a href="/templates/home"  class="home">Strona główna</a>
			<a href="/templates/main"  class="systems">Systemy</a>
			<a href="/templates/alerts"  class="systems">Alarmy</a>
			<a href="/"  class="logout">Wyloguj się</a>
		</div>
		<div class="container">
			<h3><br>Brama<br><br>
			
				<form method="POST">		
					<input type="submit" name="gate_on"  value="Otwórz">
				</form>
				
				<form method="POST">		
					<input type="submit" name="gate_off" value="Zamknij">
				</form>
				
				<form method="POST">		
					<input type="submit" name="gate_stop" id="stop_btn" value="STOP"><br>
				</form>
			</h3>
		</div>
	</div>
</body>
</html>
