<!DOCTYPE HTML>
<html lang="pl-PL">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>Automatyczny dom</title>	
	<link rel="stylesheet" href="/static/style.css" type="text/css"/>
	<link rel="stylesheet" href="/static/css/fontello.css" type="text/css"/>
</head>

<body>
	<div class="square">
		<div class="menu">
			<a href="/templates/home"  class="home">Strona główna</a>
			<a href="/templates/main"  class="systems">Systemy</a>
			<a href="/templates/alerts"  class="systems">Alarmy</a>
			<a href="/"  class="logout">Wyloguj się</a>
		</div>
		<div class="container">
			<a href="/templates/lighting" class="tilelink"><div class="tile1"> <i class="icon-lightbulb"></i><br>Oświetlenie</div></a>
			<a href="/templates/temp" class="tilelink"><div class="tile1"> <i class="icon-temperatire"></i><br>Temperatura</div></a>
			<a href="/templates/blinds" class="tilelink"><div class="tile1"> <i class="icon-window-maximize"></i><br>Rolety</div></a>
			<a href="/templates/gate" class="tilelink"><div class="tile1"> <i class="icon-prison"></i><br>Brama</div></a>
			<a href="/templates/door" class="tilelink"><div class="tile1"> <i class="icon-home-outline"></i><br>Drzwi</div></a>
			<a href="/templates/watering" class="tilelink"><div class="tile1"> <i class="icon-shower"></i><br/>Podlewanie ogrodu</div>
		</div>
	</div>	
</body>
</html>
